[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "test/cukinia"]
	path = test/cukinia
	url = https://github.com/savoirfairelinux/cukinia
