# File types to ignore
*.csv
*.bin
*.csi
*.tbi
*.bcf
*.vcf
*.o
*.a
*.d
*.macs
*.txt
*.log
*.xlsx
*.png
*.stc
*.xsi
*_gt
*_db

# Ignore folders that start with
tmp*/**
temp*/**
xsqueezeit_export/**

# Ignore these executables
xsqueezeit
main

# Mac OS index files
.DS_Store

# vscode
.vscode