# File types to ignore
*.csv
*.bin
*.csi
*.bcf
*.o
*.d
*.macs
*.txt
*.log
*.xlsx
*.png
*.stc

# Ignore folders that start with
tmp*/**
temp*/**

# Ignore these executables
xsqueezeit
main

# Mac OS index files
.DS_Store

# vscode
.vscode